/* .e-schedule .e-appointment-details {
  padding: 0 !important;
  background: rgb(23, 221, 221);
}

#eventSettingsTemplate {
  background: rgb(29, 189, 189);
}
.template-wrapper {
  background: rgb(72, 143, 143);
  font-weight: 500;
}
.template-wrapperw {
  background: rgb(241, 8, 39);
}

.tmplt {
  background: rgb(241, 8, 39);
}
 */
