/* [mat-raised-button] {
  color: rgb(252, 252, 252);
  font: optional;
  background-color: rgb(230, 22, 150);
}
button {
  color: rgb(252, 252, 252);
  font: optional;
  background-color: rgb(95, 158, 160);
}
 */
pagination-controls {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.btnAjouter {
  color: rgb(241, 245, 241);
  background-color: rgb(60, 197, 231);
}
.btnPdf {
  color: rgb(241, 245, 241);
  background-color: rgb(60, 197, 231);
}
