<mat-toolbar color="">
  <mat-toolbar-row *ngIf="this.loginService.isAuthenticated()">
    <button mat-icon-button>
      <mat-icon class="menunav" (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1 class="titre">Centre {{currentUser}}</h1>
    <span class="menu-spacer"></span>
    <div >
      <button routerLink="/actis"  mat-button> Activités </button>
      <button mat-button routerLink="/benevoles"> Bénévoles </button>
      <button  routerLink="/agenda" mat-button> Agenda </button >
        <button class="btnLogout" (click)= "onLogout()"  mat-button> 
          Se déconnecter </button>
    </div>
    
     
  </mat-toolbar-row>
    <mat-toolbar-row *ngIf="!this.loginService.isAuthenticated()" >
                
  </mat-toolbar-row>
<mat-toolbar-row class="toolImg">
    <img class="img-fluid"
                    src="/assets/SamuSocial.PNG" alt="">
                
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet>
  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a mat-list-item [routerLink]="'/actis'" (click)="sidenav.close()" color="accent">
          Activités
        </a>
        <a mat-list-item [routerLink]="'/benevoles'"(click)="sidenav.close()" >
          Bénévoles
        </a>
        <a mat-list-item [routerLink]="'/agenda'"(click)="sidenav.close()" >
          Agenda
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</router-outlet>

<p></p>
