<div class="container">
    <div class="panel panel-primary">
      <span class="example-spacer"> </span>
                <button mat-raised-button mat-dialog-close class="close" color="warn" (click) = "resetForm()"> <mat-icon > close </mat-icon></button>
      <div class="panel-heading">
        <h1>RAPPORT</h1>
        
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12 col-md-offset-2">
            <form [formGroup]="this.crudApi.dataForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label>NOM DU RESPONSABLE</label>
                <input type="text" class="form-control" name="" formControlName="nomResponsable" id="nomResponsable" />
                
              </div>
              <div class="form-group">
                <label>ÉDUCATEUR(RICE)(S)</label>
                <input type="text" class="form-control" name="" formControlName="nomEduc" id="nomEduc" />
              </div>
              <div class="form-group">   
                <label>ANNÉE</label>
                <select ([ngModel])="selectedYear" class="form-control" formControlName="yearRapport" id="yearRapport">
                  <option *ngFor="let year of years" [value]="year" >{{ year }}</option> 
                </select>
</div>
              <div class="form-group">
                <button mat-raised-button ><mat-icon > save</mat-icon> Valider</button> 
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div> 